# Lucas Natan Correia Couri - Ciência de dados

## 1) Agora é a sua vez!

1) Crie um programa que receba seu nome, idade, telefone, salário e endereço e imprima uma saída desejada. 

Saída: Eu sou {NOME}, eu tenho {IDADE}, você pode me contatar no número {TELEFONE} ou me visitar no endereço {ENDERECO}. Meu salário atual circula em torno de {SALARIO}.

In [7]:
nome = input("Digite o nome:")
idade = int(input("Digite a idade:"))
telefone = input("Digite o telefone:")
salario = float(input("Digite o salario:"))
endereço = input("Digite o endereço:")

print(f'Eu sou {nome}, eu tenho {idade} anos, você pode me contatar no número {telefone} ou me visitar no endereço {endereço}. Meu salário atual circula em torno de {salario} reais')

Digite o nome:Lucas
Digite a idade:27
Digite o telefone:811234596789
Digite o salario:999999
Digite o endereço:Rua dois, do lado da rua um
Eu sou Lucas, eu tenho 27 anos, você pode me contatar no número 811234596789 ou me visitar no endereço Rua dois, do lado da rua um. Meu salário atual circula em torno de 999999.0 reais

## 2) Agora é sua vez

1) Crie um programa que receberá nome, idade, salário e brasileiro. o nome é uma variável String, a idade é uma variável inteira, o salário é uma variável float e brasileiro é uma variável boleana. 

2) Converta o a variável idade para float e a variável brasileiro para string.

3) Verifique o tipo de cada variável e imprima os valores e seus tipos conforme a saída abaixo:

**Saída:** 
- 'a variável idade é do tipo: {TIPO_DA_VARIAVEL}'
- 'a variável brasileiro é do tipo: {TIPO_DA_VARIAVEL}'
- 'a variável nome é do tipo: {TIPO_DA_VARIAVEL}'

In [9]:
#1)
nome = str(input("Digite o nome:"))
idade = int(input("Digite a idade:"))
salario = float(input("Digite o salario:"))
brasileiro = input("Digite se é brasileiro:")

#2)
idade = float(idade)
brasileiro = str(brasileiro)

#3)
print(f'A variável idade é {idade} e é do tipo {type(idade)}')
print(f'A variável brasileiro é {brasileiro} e é do tipo {type(brasileiro)}')
print(f'A variável nome é {nome} e é do tipo {type(nome)}')
print(f'A variável salário é {salario} e é do tipo {type(salario)}')

Digite o nome:Lucas
Digite a idade:27
Digite o salario:99999
Digite se é brasileiro:True
A variável idade é 27.0 e é do tipo <class 'float'>
A variável brasileiro é True e é do tipo <class 'str'>
A variável nome é Lucas e é do tipo <class 'str'>
A variável salário é 99999.0 e é do tipo <class 'float'>

## 3) Agora é sua vez!

**1) Quanto é 7 elevado na potência 4?**

In [11]:
print(7**4)

2401

**2) Qual o resultado da seguinte expressão: (5 + 8) ** 2 * 10 / 2 + 11 - 1** Descreva a ordem que ocorre as operações!

In [15]:
print("Resultado:",(5 + 8) ** 2 * 10 / 2 + 11 - 1)


print("- Primeiro é executada a operação entre parênteses (5+8)=13")
print("- Em seguida a exponenciação (13) ** 2 = 169")
print("- Em seguida a multiplicação 169 * 10 = 1690")
print("- Em seguida a divisão 1690/2 = 845")
print("- Em seguida a adição 845+11 = 856")
print("- E por fim a subtração 856-1=855.")

Resultado: 855.0
- Primeiro é executada a operação entre parênteses (5+8)=13
- Em seguida a exponenciação (13) ** 2 = 169
- Em seguida a multiplicação 169 * 10 = 1690
- Em seguida a divisão 1690/2 = 845
- Em seguida a adição 845+11 = 856
- E por fim a subtração 856-1=855.

**3) Explique o resultado da seguinte expressão: 5 + 8 ** 2 * 10 / 2 + 11 - 1** Descreva a ordem que ocorre as operações!

In [17]:
print("Resultado: ", 5 + 8 ** 2 * 10 / 2 + 11 - 1)

print("- Primeiro é executada a operação entre parênteses (5+8)=13")
print("- Em seguida a exponenciação 8 ** 2 = 64")
print("- Em seguida a multiplicação 64 * 10 = 640")
print("- Em seguida a divisão 1690/2 = 845")
print("- Em seguida a adição 845+11 = 856")
print("- E por fim a subtração 856-1=855.")

Resultado:  335.0
- Primeiro é executada a operação entre parênteses (5+8)=13
- Em seguida a exponenciação (13) ** 2 = 169
- Em seguida a multiplicação 169 * 10 = 1690
- Em seguida a divisão 1690/2 = 845
- Em seguida a adição 845+11 = 856
- E por fim a subtração 856-1=855.

**4) Explique o resultado da seguinte expressão: 5 + 8 ** 2 * 10 / 2 + 11 - 1**. Descreva a ordem que ocorre as operações!

In [19]:
print("Resultado: ", 5 + 8 ** 2 * 10 / 2 + 11 - 1)

print("- Primeiro é executada a operação entre parênteses (5+8)=13")
print("- Em seguida a exponenciação 8 ** 2 = 64")
print("- Em seguida a multiplicação 64 * 10 = 640")
print("- Em seguida a divisão 1690/2 = 845")
print("- Em seguida a adição 845+11 = 856")
print("- E por fim a subtração 856-1=855.")

Resultado:  335.0
- Primeiro é executada a operação entre parênteses (5+8)=13
- Em seguida a exponenciação 8 ** 2 = 64
- Em seguida a multiplicação 64 * 10 = 640
- Em seguida a divisão 1690/2 = 845
- Em seguida a adição 845+11 = 856
- E por fim a subtração 856-1=855.

## 4) Agora é sua vez!

**1) Crie uma lista "familia" com o nome dos membros da sua família (pais, filhos, avôs e irmãos)**

In [27]:
familia = ["Lucas", "Natalia", "Maria", "Antonio"]

**2) Adicione nesta lista os nomes dos seus animais de estimação que você já teve ou tem**

In [28]:
familia.append("Punk")
familia.append( "Apollo")
familia

['Lucas', 'Natalia', 'Maria', 'Antonio', 'Punk', 'Apollo']

**3) Remova os animais de estimação que você não tem mais**

In [29]:
familia.remove("Punk")
familia.remove("Apollo")
familia

['Lucas', 'Natalia', 'Maria', 'Antonio']

**4) Crie uma nova lista com nome Amigos e adicione seus principais amigos nesta lista**

In [30]:
amigos = ["Thiago", "Pedro", "Jose", "Matheus"]

**5) Concatene as listas Familia e Amigos em uma nova lista chamada Networking**

In [31]:
networking = familia+amigos
networking

['Lucas', 'Natalia', 'Maria', 'Antonio', 'Thiago', 'Pedro', 'Jose', 'Matheus']

**6) Delete as listas Familia e Amigos**

In [36]:
familia.clear()
amigos.clear()

**8) Ordene a lista Networking por ordem alfabetica a-z**

In [26]:
networking.sort()
networking

['Antonio', 'Jose', 'Lucas', 'Maria', 'Matheus', 'Natalia', 'Pedro', 'Thiago']

**9) Verifique o tamanho da lista networking**

In [32]:
len(networking)

8

**10) Converta todos os itens da lista para string usando o separador '|'**

In [33]:
'|'.join(networking)

'Lucas|Natalia|Maria|Antonio|Thiago|Pedro|Jose|Matheus'

## 5) Agora é sua vez!

**1) Crie um dicionário com seu nome, telefone e email. Mostre agora somente as chaves desse dicionário!**

In [7]:
dici = {"Nome":"Lucas",
        "Telefone":"12345678",
        "email":"lncc2@cin.ufpe.br"
}

print(dici.keys())

dict_keys(['Nome', 'Telefone', 'email'])

**2) Adicione o seu trabalho neste dicionário**

In [8]:
dici["Trabalho"]="Cientista de Dados"
dici

{'Nome': 'Lucas',
 'Telefone': '12345678',
 'email': 'lncc2@cin.ufpe.br',
 'Trabalho': 'Cientista de Dados'}

**3) Remova o dado de telefone do seu dicionário**

In [ ]:
dici.pop("Trabalho")

**4) Crie um lista com 5 nomes e uma lista com 5 telefones. Crie um dicionário a partir d**

In [9]:
nomes = ["Lucas", "João", "Pedro", "Matheus", "Gabriel"]
telefones = ["31264587", "132645798", "79864521", "64531287", "31297845"]

dici2 = dict(zip(nomes,telefones))
dici2

{'Lucas': '31264587',
 'João': '132645798',
 'Pedro': '79864521',
 'Matheus': '64531287',
 'Gabriel': '31297845'}

## 6) Agora é sua vez

**1) Crie uma tupla três diferentes nomes**

In [10]:
tupla = ("nome1", "nome2", "nome3")

tupla

('nome1', 'nome2', 'nome3')

**2) Modifique o valor o último elemento dessa tupla para zero**

In [11]:
tupla[2]=0
### Não podemos alterar elementos da tupla
# uma tupla é constante e não permite atualizações de valores.

TypeError: 'tuple' object does not support item assignment

## 7) Agora é sua vez

**1) Crie um conjunto dos números inteiores até o número 10**

In [12]:
lista=[1,2,3,4,5,6,7,8,9,10]
conjunto = set(lista)
conjunto

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

**2) Crie um novo conjunto para osnúmeros inteiros pares até o número 10 (2, 4, 6, 8, 10)**

In [13]:
lista2=[2,4,6,8,10]
conjunto2 = set(lista2)
conjunto2

{2, 4, 6, 8, 10}

**3) Mostre o resultado da intersseessão, união e diferença entre os dois conjuntos**

In [15]:
conjunto.intersection(conjunto2)

{2, 4, 6, 8, 10}

## 8) Agora é sua Vez

**1) Crie diferentes expressões de verificação usando cada um dos operadores apresentados.**

In [18]:
print(5>3)
print(5<3)
print(5>=5)
print(5<=4)
print(5==5)
print(5!=5)
print("Teste" in "Fazendo Teste")
print("Teste" not in "Fazendo Teste")
print(5 not in [1,2,3,4,5])

True
False
True
False
True
False
True
False
False

**2) Verifique se os números 1 e 2 fazem parte do conjunto pares (0,2,4,6,8,10)**

In [20]:
print([1,2] in [0,2,4,6,8,10])
print(1 in [0,2,4,6,8,10])
print(2 in [0,2,4,6,8,10])

False
False
True

## 9) Agora é sua vez

**1) qual o retorno da operação: 5 é maior do que 2, 2 é menor do que 3 e 4 é menor do que 12?**

In [21]:
5>2 and 2<3 and 4<12

True

**2) O que acontece se trocarmos o último and por "or". Verifique e explique se o resultado da expressão muda**

In [23]:
5>2 and 2<3 or 4<12
# O resultado não muda pois todas as operações sao True

True

## 10) Agora é sua vez

**1) Crie um programa que irá receber uma variável e irá fornecer uma saída. Imprima impar se a variável for impar e par se a variável for par.**

In [26]:
n = int(input("Digite um número:"))

if n%2==0:
    print("O número é par")
else:
    print("O número é ímpar")

Digite um número:5
O número é ímpar

**2) Crie um programa que irá receber uma idade e irá fornecer uma saída. Se a idade for menor do que 12, imprima "criança", se a idade for menor do que 18 e maior do que 12, imprima "adolescente", se aidade for maior do que 18 e menor do que 60, imprima "adulto", senão imprima "idoso"**

In [30]:
idade = int(input("Digite a idade:"))

if idade<12:
    print("Criança")
elif (idade<18 and idade>12):
    print("Adolescente")
elif (idade<60 and idade>18):
    print("Adulto")
else:
    print("Idoso")

Digite a idade:77
Idoso

## 12) Agora é sua vez

**1) Faça um programa que peça uma nota, entre zero e dez. Mostre uma mensagem caso o valor seja inválido e continue pedindo até que o usuário informe um valor válido.** Use "input" para receber o dado no seu programa

In [42]:
nota=-1
while (nota<0 or nota>10):
    nota = float(input("Digite uma nota entre 0 e 10:"))
    if (nota<0 or nota>10):
        print("Valor inválido, deve ser entre 0 e 10. Informe um valor válido.")

Digite uma nota entre 0 e 10:95
Valor inválido, deve ser entre 0 e 10. Informe um valor válido.
Digite uma nota entre 0 e 10:5

**2) Faça um programa que leia 5 números e informe o maior número.**

In [47]:
cont=0
while cont<5:
    n = float(input("Digite um número:"))
    if cont==0:
        maior=n #inicializa maior apenas na primeira iteracao
    if n>maior:
        maior=n
    cont=cont+1

print("O maior número digitado foi", maior)

Digite um número:0
Digite um número:3
Digite um número:2
Digite um número:1
Digite um número:6
O maior número digitado foi 6.0

**3) Faça um programa que imprima na tela apenas os números ímpares entre 1 e 50**

In [48]:
for i in range(1,51):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

**4) Faça um programa que imprima a sequência de fibonacci a partir do  n−ésimo termo da sequência**

In [50]:
N = int(input("Digite o N para exibir a sequência de Fibonacci até o N-ésimo valor: "))

listaFibo = [1,1]

for i in range(2,N):
  atual = listaFibo[i-2]+listaFibo[i-1]
  listaFibo.append(atual)

print("A sequência de Fibonacci é", listaFibo)

Digite o N para exibir o N-ésimo valor da sequência de Fibonacci: 9
A sequência de Fibonacci é [1, 1, 2, 3, 5, 8, 13, 21, 34]

**5) Faça um programa que peça para n pessoas a sua idade, ao final o programa devera verificar se a média de idade da turma varia entre 0 e 25,26 e 60 e maior que 60; e então, dizer se a turma é jovem, adulta ou idosa, conforme a média calculada**

In [56]:
n = int(input("Digite o número de pessoas:"))

somaIdades = 0
for i in range(0,n):
    idade = int(input("Digite a idade:"))
    somaIdades = somaIdades+idade
    
mediaIdades = somaIdades/n
print(mediaIdades)
if mediaIdades>=0 and mediaIdades<=25:
    print("Turma jovem")
elif mediaIdades>=26 and mediaIdades<=60:
    print("Turma adulta")
elif mediaIdades>60:
    print("Turma idosa")

Digite o número de pessoas:3
Digite a idade:20
Digite a idade:30
Digite a idade:40
30.0
Turma adulta

## 13) Agora é sua vez

**1) Crie uma função que irá receber 3 notas e fornecerá como saída o resultado da média dessas notas**

In [59]:
def calculaMedia(n1,n2,n3):
    media=(n1+n2+n3)/3
    return media

nota1 = float(input("Digite a nota 1:"))
nota2 = float(input("Digite a nota 2:"))
nota3 = float(input("Digite a nota 3:"))

mediaNotas = calculaMedia(nota1,nota2,nota3)
print("A média das notas é", mediaNotas)

Digite a nota 1:8
Digite a nota 2:9
Digite a nota 3:10
A média das notas é 9.0

**2) Crie uma função que irá receber um número e a saída é a sequência de fibonnaci  notas e fornecerá como saída o resultado da média dessas notas**

In [ ]:
N = int(input("Digite o N para exibir a sequência de Fibonacci até o N-ésimo valor: "))

listaFibo = [1,1]

for i in range(2,N):
  atual = listaFibo[i-2]+listaFibo[i-1]
  listaFibo.append(atual)

print("A sequência de Fibonacci é", listaFibo)

## 14) Agora é sua vez

**1) Crie um list comprehension que irá retornar os números ímpares dados uma sequência de 0 até 10**

In [60]:
[i for i in [0,1,2,3,4,5,6,7,8,9,10] if i%2!=0]

[1, 3, 5, 7, 9]

**2) Crie um list comprehension que irá retornar os números divisíveis por 2 e por 3 dados uma sequência de 0 até 10**

In [61]:
[i for i in [0,1,2,3,4,5,6,7,8,9,10] if (i%2==0 and i%3==0)]

[0, 6]